*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Be Vietnam Pro',sans-serif;

height:100vh;

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;

color:white;

}


.bg{

position:fixed;

width:100%;
height:100%;

background-image:url("bg.jpg");

background-size:cover;
background-position:center;

filter:brightness(60%);

z-index:-1;

}


.card{

width:420px;

padding:40px;

background:rgba(255,255,255,0.12);

backdrop-filter:blur(12px);

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,0.4);

}


h1{
margin-bottom:15px;
}

p{
margin-bottom:15px;
line-height:1.6;
}

input{

padding:12px;

width:220px;

border-radius:8px;

border:none;

margin-top:10px;

}


button{

margin-top:15px;

padding:12px 25px;

border:none;

border-radius:10px;

font-size:16px;

cursor:pointer;

}


#yesBtn{

font-size:26px;

background:#ff4d6d;

color:white;

}


#noBtn{

background:#ccc;

}


.buttons{

margin-top:20px;

}


.hidden{

display:none;

}


#fireworks{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

pointer-events:none;

}
