*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

font-family:'Be Vietnam Pro',sans-serif;

display:flex;
justify-content:center;
align-items:center;

background:url("bg.jpg") center/cover no-repeat;

color:white;

overflow:hidden;

}

.overlay{

position:fixed;
width:100%;
height:100%;

background:rgba(0,0,0,0.5);

pointer-events:none;

}

.page{

position:absolute;

text-align:center;

background:rgba(255,255,255,0.1);

backdrop-filter:blur(10px);

padding:40px;

border-radius:20px;

width:400px;

display:none;

}

.page.active{
display:block;
}

input{

padding:12px;

width:200px;

border:none;

border-radius:8px;

margin-top:15px;

}

button{

margin-top:20px;

padding:12px 24px;

border:none;

border-radius:10px;

font-size:18px;

cursor:pointer;

}

#yes{

font-size:26px;

background:#ff4d6d;

color:white;

}

#no{

background:#ddd;

}

.buttons{
margin-top:20px;
}

#fireworks{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

pointer-events:none;

}
